<section class="todoapp">
  <header class="header">
    <div class="container">
      <h2>Mi dia</h2>
      <p>Todas mis tareas en un solo lugar</p>
      <input
        class="new-todo"
        placeholder="Escribir nueva tarea"
        autofocus
        type="text"
        [formControl]="newTaskCtrl"
        (keydown.enter)="changeHandler()"
        />
      </div>
    </header>
    <div class="container todoapp-wrapper">
      <!-- This section should be hidden by default and shown when there are todos -->
      <section class="main">
        <ul class="todo-list">
          @for (task of taskByFilter(); track task; let i = $index) {
            <li
              (dblclick)="updateTasksEditingMode(i)"
              [class.editing]="task.editing"
              [class.completed]="task.completed">
              <div class="view">
                <input (change)="updateTask(i)" class="toggle" type="checkbox" [checked]="task.completed"/>
                <label>{{ task.title }}</label>
                <button class="destroy" (click)="deleteTask(i)"></button>
              </div>
              <input class="edit" (keydown.enter)="updateTaskText(i, $event)" [value]="task.title" />
            </li>
          }
          <!--
          <li>
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Buy a unicorn</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Buy a unicorn" />
          </li>
          <li class="editing">
            <div class="view">
              <input class="toggle" type="checkbox" />
              <label>Make dishes</label>
              <button class="destroy"></button>
            </div>
            <input class="edit" value="Make dishes" />
          </li>
          -->
        </ul>
      </section>
      <!-- This footer should be hidden by default and shown when there are todos -->
      @if (taskByFilter().length > 0) {
        <footer class="footer">
          <!-- This should be `0 items left` by default -->
          <span class="todo-count">
            <strong>{{ taskByFilter().length }}</strong>
            @if (taskByFilter().length === 1) {
              <span > item</span>
            } @else {
              items
            }
          </span>
          <!-- Remove this if you don't implement routing -->
          <ul class="filters">
            <li>
              <a (click)="changeFilter('all')" [class.selected]="filter()=== 'all'">Todos</a>
            </li>
            <li>
              <a (click)="changeFilter('pending')" [class.selected]="filter()=== 'pending'">Pendientes</a>
            </li>
            <li>
              <a (click)="changeFilter('completed')" [class.selected]="filter()=== 'completed'">Completadas</a>
            </li>
          </ul>
          <!-- Hidden if no completed items are left ↓ -->
          <button class="clear-completed">limpiar</button>
        </footer>
      }
    </div>
  </section>
